
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    //background-color: #000;
}

.container-fluid {
    padding: 20px;
    padding-bottom: 0px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.panel {
    margin-left: 30px;
    margin-right: 30px;
}

.panel-title {
    font-size: 40px;
}

.panel-body {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-large {
    width: 380px;
    margin-bottom: 10px;
    height: 214px;

    i {
        font-size: 180px;
    }
}

.btn-large-text {
    width: 380px;
    margin-bottom: 10px;
    font-size: 40px;
    height: 214px;

    i {
        font-size: 110px;
    }
}


.btn-medium-text {
    width: 380px;
    margin-bottom: 10px;
    font-size: 40px;
    height: 102px;
}

.btn-number {
    width: 100px;
    height: 58px;
    font-size: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger:hover{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
